{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

{#    <ul>Montant total: {{ app.session.get('montant_total') }}</ul>#}
{#    {{ dump(panier) }}#}
{#    {{ dump(montant_total) }}#}
{#    {{ dump(les_produits) }}#}


        <h1 class="text text-center">Panier</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Apperçu</th>
                <th>Quantite</th>
                <th>Categorie</th>
                <th>Nom</th>
                <th>Prix</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for contenir in contenirs %}
                <tr>
                    <td><img src="{{ contenir.idproduit.image }}" width="125" height="150"></td>
                    <td>{{ contenir.quantite }}</td>
{#                    <td>{{ contenir.idcategorie }}</td>#}
                    <td><u>{{ contenir.idproduit.libelle }}</u></td>
                    <td>{{ contenir.idproduit.tarif * contenir.quantite}}€</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('contenir_show', {'id': contenir.id}) }}">show</a>
                        <a href="{{ path('contenir_edit', {'id': contenir.id}) }}">edit</a>
{#                        <a href="{{ path('contenir/_delete_form.html.twig', {'id': contenir.id}) }}">retirer</a>#}
                    </td>
                    {% endif %}
                    <td>{{ include('contenir/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Panier vide</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a>Prix total: <b>{{ panier.montanttotal }}</b>€</a>
        <button type="button"><a href="{{ path('panier_remove')}}">
                Vider panier
            </a></button>
{#        <a href="{{ path('contenir_new') }}">Create new</a>#}


</div>
{% endblock %}
