{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    
    <div class="test">
    <div class="container text-center">
        <div class="card text-center">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <tr>
                                    <td><img src="{{ asset('')~produit.image }}" width="200" height="250"></td>
                                </tr>
                            </div>

                        </div>


                    </div>
                    <div class="details col-md-6">
                        <br>
                        <h3 class="product-title"><u>{{ produit.libelle }} {{ produit.idcategorie }}</u></h3>
                        <p class="product-description">{{ produit.description }}</p>
                        <h4 class="price">Prix: <span>{{ produit.tarif }}</span></h4>
                        <h5 class="stock">Stock: <span>{{ produit.stock }}</span></h5>
                        <a href="{{ path('panier_add', {'id': produit.id}) }}">🛒 Acheter</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <style>

        .list-inline small{
            background-color: #2d3744;
        }

        .test{
            box-sizing: content-box;
            width: auto;
            height: 876px;
            padding-top: 1px;
            background-color: #ffffff;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 600px;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: black;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #E4D7C0;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .card button:hover {
            opacity: 0.7;
        }
    </style>









{#
        <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ produit.tarif }}</td>
            </tr>
            <tr>
                <th>Prodyut</th>
                <td><img src="{{ produit.image }}" width="200" height="200"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">back to list</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}#}
{% endblock %}
