{% extends 'base.html.twig' %}

{% block title %}{{ _name }}{% endblock %}

{% block body %}
    <style>
        .titre{
            font-size: {{ _fontsizetitle }};
            font-family: {{ _fonttitle }};
        }
    </style>

    <p class="titre">{{ _title }}</p>
    <br>
    <br>

{#    <div class="flex items-center">
        <span class="inline-grid grid-cols-3 gap-x-4">
        <span><img src="https://imgur.com/r9lSRTe.png" /></span>
        <span><img src="https://imgur.com/6udMVPP.png" /></span>
        <span><img src="https://imgur.com/5l8VvAX.png" /></span>
        </span>
    </div>#}





    {% for produit in produits %}
        <tr>
{#                <td>{{ produit.id }}</td>
            <td>{{ produit.idcategorie }}</td>#}

            <!-- This is an example component -->
            <main class="px-3">

                <div class="item-center m-4">
                    <div class="bg-white">
{#                        <img src="{{ asset('')~produit.image }}" alt="" class="w-full h-48 sm:h-56 object-cover" />#}
                        <img src="{{ produit.image }}" alt="" class="w-full h-48 sm:h-56 object-cover" />
                        <div class="px-10 py-6 mb-10 text-center">
                            <div class="text-2xl font-bold text-gray-600-500 mb-4 produitlibelle">{{ produit.libelle }}</div>
                            <span class="text-sm">
                            {#Prix: {{ produit.tarif }}
                            Catégorie: {{ produit.idcategorie }}#}
                            {{ produit.description }}
            </span><br>
                            <button class="m-4 w-80 text-lg h-16 text-white font-extrabold bg-gray-600">Voir le produit</button>
                        </div>

{#                        <button class="w-full text-lg h-16 text-white font-extrabold bg-gray-600">Voir le produit</button>#}
                    </div>


                </div>
            </main>

    {% endfor %}



















{% endblock %}

