{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<form method="post">


    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

{#    <div class="container" id="container">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>#}

{#    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl">Connexion</h3>
            <p class="text-gray-600 pt-2">Connecter vous à votre compte.</p>
        </section>

        <section class="mt-10">
            <form class="flex flex-col" method="POST" action="#">
                <div class="mb-6 pt-3 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold ml-3" for="email">Email</label>
                    <input type="text" id="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
                </div>
                <div class="mb-6 pt-3 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold ml-3" for="password">Password</label>
                    <input type="password" id="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
                </div>
                <div class="flex justify-end">
                    <a href="#" class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6">Mot de passe perdue ?</a>
                </div>
                <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Se connecter</button>
            </form>
        </section>
    </main>#}



    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
        <p class="text-white">Don't have an account? <a href="#" class="font-bold hover:underline">Sign up</a>.</p>
    </div>

    <footer class="max-w-lg mx-auto flex justify-center text-white">
        <a href="#" class="hover:underline">Contact</a>
        <span class="mx-3">•</span>
        <a href="#" class="hover:underline">Privacy</a>
    </footer>
    </body>
    </html>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Connexion</h1>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-check form-switch">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>



{#    <div class="sidenav">#}
{#        <div class="login-main-text">#}
{#            <h2>Login</h2>#}
{#            <p>Login or register from here to access.</p>#}
{#        </div>#}
{#    </div>#}
{#    <div class="main">#}
{#        <div class="col-md-6 col-sm-12">#}
{#            <div class="login-form">#}
{#                <form>#}
{#                    <div class="form-group">#}
{#                        <label>Email</label>#}
{#                        <input type="text" class="form-control" placeholder="email@email.com">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label>Mot De Passe</label>#}
{#                        <input type="password" class="form-control" placeholder="******">#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-black">Login</button>#}
{#                    <button type="submit" class="btn btn-secondary">Register</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <button class="btn btn-lg btn-danger" type="submit">
        Sign in
    </button>#}
</form>
{% endblock %}
